<!DOCTYPE html>
<html><head>
<meta charset="utf-8">
<title>Mafia</title>
<link rel="stylesheet" href="css/characters.css">
</head>
<body style="background-image: url(images/fon.jpg)">
<div class = "Zavlavya" style="background-image: url(images/dark_exa.png )"><center>ПЕРСОНАЖИ</center></div>
<div class = "container"  style="background-image: url(images/dark_exa.png )">	
	<img src="images/boss.jpg">
	<p class="text">Это глава мафии. Во время ночных сходок «мафиози» совместно выбирают следующую жертву , но именно «босс» принимает окончательное решение. Если «мирным жителям» удастся казнить «босса», после его смерти «мафиози» встречаются последний раз и последний раз планируют убийства: во все последующие ночи каждый «мафиози» голосует за жертву с закрытыми глазами, поднимая палец , и убийство совершается только в том случае , если решение принято единогласно.</p>
	
</div>
<div class = "container" style="background-image: url(images/dark_exa.png )">
	<img src="images/mir.jpg">
	<p class="text">Обычные граждане, которые по ночам спят, а днем совместно проводят следствие и казнят коварных «мафиози». «Мирные жители» не вооружены, а зачастую плохо организованны , поэтому их легко и приятно убивать. Однако при слаженных и осмысленных действиях «мирные жители» все же способны очистить улицы города от мафии.</p>
</div>
<div class = "container"  style="background-image: url(images/dark_exa.png )">
	<img src="images/maniyak.jpg">
	<p class="text">В детстве на его стене висели постеры с изображением Чарли Мэнсона и Фредди Крюгера . Теперь мальчик подрос и сам орудует ножичком на улицах спящего города. Маньяк не подчиняется никаким законам. Его не интересуют ни деньги, ни слава. Ему нужна только кровь.</p>
</div>
<div class = "container"  style="background-image: url(images/dark_exa.png )">
	<img src="images/kop.jpg">
	<p class="text">Мафия его боится, «мирные жители» уважают , но все его одинаково презирают , просто за то , что он – «комиссар». С наступлением темноты он выходит бороться с преступностью и за ночь может убить одного «мафиози». Если же «комиссар» по ошибке стреляет в «мирного жителя», то всегда промахивается. Во время наиболее важного голосования «комиссар» может открыт свою карту, и тогда его голос засчитывается за два, но начиная с этого  момента он раскрыт. Скорее всего, в следующую ночь мафия убьет ненавистного «комиссара». Впрочем, у «доктора» хватит бинтов и зеленки , чтобы спасти «комиссара».</p>
</div>
<div class = "container"  style="background-image: url(images/dark_exa.png )">
	<img src="images/putana.jpg">
	<p class="text">Эта беспринципная чертовка ослепительной красоты просыпается ночью раньше мафии и приглашает к себе в гости одного из горожан. Горожанина, занятого любовными утехами , мафия не трогает.</p>
</div>
<div class = "container"  style="background-image: url(images/dark_exa.png )">
	<img src="images/doctor.jpg">
	<p class="text">Целитель с уникальными талантами , способный вылечить любого убитого горожана. Одного и того же игрока «доктор» может спасать сколько угодно раз, а вот самого себя ему позволено исцелить только единожды. По команде ведущего он выходит на улицы города ночью после свершившегося убийства.</p>
</div>
<body>
</html>