<!DOCTYPE html>
<html><head>
<meta charset="utf-8">
<title>Mafia</title>
<link rel="stylesheet" href="css/rules.css">
</head>
<body style="background-image: url(images/fon.jpg )">
<div class = "Zavlavya" style="background-image: url(images/dark_exa.png )"><center>ПРАВИЛА ИГРЫ</center></div>
<div class = "container" style="background-image: url(images/dark_exa.png )">
	
<h2 align="center">Правила для классической мафии</h2>
<h2 align="center">ПРАВИЛА И ЭТАПЫ ИГРЫ МАФИЯ</h2>
<h3 align="center">1. Игра</h3>
<p>В игре участвуют 10 человек. Наблюдает за ходом игры и регламентирует ее этапы ведущий.</p>
Играющие делятся на группы: красные и черные.
<li>Красные - это добропорядочные граждане (карта Честный житель).</li>
<li>Черные - мафиози (карта - Мафия).</li>
<p>В игре разыгрываются 7 красных карт и З черные.
1 из 7-ми красных карт отличается от остальных - это карта Шериф, предводитель красных.
Черные также имеют своего предводителя – карта Дон.Игра делится на 2 половины: день и
ночь.
В течение игры черные должны устранить красных и наоборот.</p>
<h3 align="center">2. Этапы</h3>
<h4 align="center">1 НОЧЬ</h4>
За игровой стол усаживаются десять игроков
Ведущий объявляет: «Наступает ночь».
Участники наклоняют головы вниз, чтобы движения соседей или игра теней не стали
источником дополнительной информации для них.
Ведущий объявляет: «Просыпается мафия. Дон показывает себя». Участники, получившие
черные карты, в том числе и Дон мафии, знакомятся друг с другом и ведущим.
Дон (игрок получивший соответствующую карту!) показывает себя, приложив указательный
и средний пальцы правой руки к левому плечу.
ЭТО ПЕРВАЯ И ЕДИНСТВЕННАЯ НОЧЬ, КОГДА МАФИОЗИ ОТКРЫВАЮТ ГЛАЗА
ВМЕСТЕ.
Эта ночь дана ДОНУ ЧЕРНЫХ для того, чтобы НАЗНАЧИТЬ Очередь Устранения красных.
НАЗНАЧАТЬ следует очень тихо при помощи жестов и мимики - так, чтобы рядом сидящие
красные игроки не почувствовали движений. У мафии есть 1 минута что бы договорится. По
истечению срока ведущий объявляет: «Мафия засыпает».
После этих слов черные игроки закрывают глаза.
Разъяснение:
А) Дон назначает Очередь во 1-ю ночь и никакую другую.
Б) Ни в какую другую ночь Черные с открытыми глазами НЕ ВСТРЕЧАЮТСЯ.
В) Помнить Очередь и соблюдать ее должные ЧЕРНЫЕ, а не Ведущий. Ее соблюдение –
внутренне дело ЧЕРНЫХ, а не Ведущего. ЧЕРНЫЕ могут поменять Очередь ТОЛЬКО Днем,
при чем - не нарушая Правил. (Т.е., при помощи мимики и жестов).
В последующие ночи Дон будет просыпаться, чтобы найти Шерифа игры.
Ведущий: - «Просыпается Шериф и знакомится с ведущим».
Шериф открывает глаза и знакомится с ведущим. В последующие ночи Шериф будет иметь
возможность просыпаться и искать Черных.
Ведущий: - «3асыпает Шериф. Утро. Все просыпаются».
<h4 align="center">1 ДЕНЬ</h4>
Первый день. Все открывают глаза. Днем происходит обсуждение. Каждому игроку дается 1
минута на выражение своих идей, мыслей и подозрений.
Цель 1-го круга, и игры в целом: для красных выявить черных участников и вывести их из
игры. А для черных, соответственно, наоборот. Черные находятся в более выгодном
положении, так как знают, кто есть кто в этой игре. Обсуждение начинает игрок под номером
один и далее по кругу.
В течение дневного обсуждения игроки могут выставлять кандидатуры игроков (не более
одной каждый игрок) с целью вывести их из игры. По окончанию обсуждения за
кандидатуры голосуют. Та кандидатура, которая набрала большинство голосов, выбывает из
игры.
Если в первый День выставлена только 1-а кандидатура, она не голосуется. В течение
следующих Дней голосуется любое количество кандидатур. Выбывший из игры имеет право
на последнее слово (продолжительность - 1 минута).
Формула выставления: «Я выставляю игрока номер Х на голосование» и правый кулак с
отогнутым вверх большим пальцем ставится на стол.
Заканчивает своё выступление игрок словом "СПАСИБО".
Голосуя, игрок должен коснуться рукой стола и удерживать ее на столе до окончания
голосования. Окончание голосования совпадает со словом ведущего «Спасибо». Голос,
поставленный после слова спасибо либо вместе со словом спасибо, не принимается.
Ведущий считает голос только в том случае, если рука коснется стола.
В игре существует термин Автокатастрофа(перестрелка). Это ситуация, в которой два или
более игроков набирают одинаковое количество голосов. В этом случае голосуемым дается
право в течение 30-ти секунд оправдаться, убедить игроков в своей красноте. И остаться в
игре. После чего происходит переголосование.Если кто-то набирает больше голосов, он
выбывает.
Если игроки вновь набирают равное количество голосов, то ставится на голосование вопрос:
«Кто за то, чтобы все голосуемые покинули игру?» Если большинство голосует за
выбывание, игроки покидают игру, если против или поровну - игроки остаются в игре.
В случае, когда остаётся 4 игрока за столом повторное голосование при
Автоктатастрофе(перестрелке) не проводится, все игроки остаются за игровым столом и
ведущий объявляет что "Наступает ночь".
• Игрок имеет право выставлять только 1-у кандидатуру.
• Если во время голосования игрок до слова ведущего «Спасибо» коснется стола рукой, а
потом уберет, то он получает ЗАМЕЧАНИЕ и происходит переголосование. За повторное
уберание руки со стола, игрок УДАЛЯЕТСЯ без последнего слова, голосование
останавливается и город засыпает.
• Если игрок не проголосовал, его голос приписывается к последнему голосуемому.
РАЗЪЯСНЕНИЕ: в случае повторения Автокатастрофы в тот же День, но с другим
количеством участвующих, (например сначала – 4 по 2 голоса, потом 2 – по 4 голоса)
Автокатастрофа считается новый. Заново дается по 30 сек. Для аргументации и заново
голосуются кандидатуры.
2 НОЧЬ
После первого дня вновь наступает ночь. В течение этой и следующих ночей мафия имеет
возможность стрелять. Стрельба происходит следующим образом: договорившиеся в первую
ночь об Очереди устранения красных мафиози в следующие ночи стреляют (с закрытыми
глазами).
Ведущий после слов «Мафия выходит на охоту» объявляет номера игроков по очереди, и,
если на определенном номере все мафиози одновременно выстрелят, - объект поражен.
Если кто-то из членов мафии стреляет в другой номер, либо не стреляет вообще, ведущий
фиксирует промах. Стрельба происходит посредством имитации выстрела указательным и
средним пальцами, ВЫСОКО ПОДНЯТОЙ ПРАВОЙ рукой.
Черный игрок имеет право стрелять только один раз. Выстрел считается результативным
только в этом случае. Во всех других случаях (игрок не стреляет, стреляет дважды) ведущий
регистрирует промах. Промах регистрируется также, если игрок стреляет между
называемыми ведущим номерами.
Ведущий объявляет: «Мафия прячет свои пистолеты».
Затем ведущий объявляет: «Просыпается Дон». Дон просыпается и пытается найти Шерифа
игры. Он показывает на пальцах ведущему какой-либо номер, за которым, по его мнению,
скрывается Шериф. Ведущий кивком головы либо подтверждает его версию, либо отрицает.
Разъяснение: Во время ночной проверки ведущий отвечает ТОЛЬКО на вопросы игрока,
вытянувшего карту Дона. Любой другой игрок, открывший глаза попадает под статью
«Подглядывание» и немедленно удаляется из игры.
«Дон засыпает, просыпается Шериф». Шериф также имеет право на ночные проверки. Он
ищет черных игроков. После ответа ведущего «Шериф засыпает», и ведущий объявляет
начало второго дня.
Разъяснение: Можно проверять УБИТЫХ и УДАЛЕННЫХ.
* Дон и Шериф по ночам имеют право проверять не более 1-го игрока каждый.
2-й и следующие ДНИ
Если мафия ночью не устранила игрока, ведущий объявляет, что «Утро действительно
доброе, и ночью никто не пострадал».
Обсуждение второго дня начинается со следующего, после говорившего первым в
предыдущем круге игрока. В течение этого и следующего кругов ход игры не меняется. Ночи
и дни чередуются до победы той или иной команды.
Игра заканчивается по6едой красных в том случае, когда устранены все чёрные игроки.
Чёрные по6еждают в случае, когда остается равное количество красных и черных.
В случаее если игрок, днем, получает 4 замечания либо просто встает из-за стола, то
голосования на данном уругу не будет. Оставшиеся игроки могут договорить свои минуты,
после чего наступит ночь.
СВОД ЗАКОНОВ ИГРЫ МАФИЯ
1. Игрок не имеет права произносить во время игры фразы «честное слово» и «честно
говорю», не имеет права клясться в любой иной форме, либо апеллировать к какой-либо
религии, говорить 100%, и любые другие % (200, 1000 и т.д). За это ведущий ставит
замечания.
2. После слова "спасибо" и/или вставания во время своего заключительного слова, игрок
немедленно покидает игру и любые его действия расцениваются как подсказка. Игра
останавливается и победа присуждается противоположной команде. Подсказка карается
отстранением игрока от чемпионата.
3. Игрок не имеет права предлагать деньги, подкуп в любой форме. За это нарушение игрок
получает ЗАМЕЧАНИЕ.
4. Игрок не имеет права сознательно подглядывать ночью. При обнаружении данного
нарушения игрок УДАЛЯЕТСЯ, лишается возможности участия в дальнейшем чемпионате.
В случае непроизвольного подглядывания игрок УДАЛЯЕТСЯ.
5. Игрок не имеет права ночью петь, танцевать, бить по столу, говорить и совершать прочие,
не входящие в рамки ночного поведения игроков, действия. За это нарушение игрок получает
предупреждение от ведущего.
6. Красный и чёрный игроки ночью не имеют права показывать знаками Шерифу кого
проверять. За это нарушение игрок УДАЛЯЕТСЯ.
7. Игрок не имеет права говорить не в свою очередь. За это нарушение он получает
ЗАМЕЧАНИЕ.
8. Игрок имеет право говорить во время дневного обсуждения не более 1 минуты. За
несоблюдение регламента игрок получает ЗАМЕЧАНИЕ.
9. Игрок, выбывший из игры, немедленно покидает игровой стол.
10. При любом УДАЛЕНИИ из игры игрок не имеет право на последнее слово.
11. Игрок, подавший протест до окончания игры получает ЗАМЕЧАНИЕ.
12. Игрок, получивший 3 ЗАМЕЧАНИЯ, лишается слова в тот же ДЕНЬ. Если игрок
получает 3-е ЗАМЕЧАНИЕ после своего выступления, то он лишается слова на следующий
ДЕНЬ.
13. Игрок, получивший 4-е ЗАМЕЧАНИЕ, УДАЛЯЕТСЯ из игры.
14. Во время перестрелки игрок имеет право говорить 30 секунд. За несоблюдение
регламента игрок получает ЗАМЕЧАНИЕ.
15. Ведущий имеет право давать ЗАМЕЧАНИЕ за:
- неэтичное поведение;
- удары руками по столу;
- излишнюю жестикуляцию, мешающую игре либо отвлекающую игроков;
- рыдания за игровым столом;
16. Игрок не имеет право прикасаться к другому игроку и ведущему во время игры. За это он
получает ЗАМЕЧАНИЕ.
УМЫШЛЕНЕНОЕ прикосновение НОЧЬЮ, с целью ЛИБО результатом которого явилось
раскрытие роли приравнивается к подглядыванию. Игрок УДАЛЯЕТСЯ.
	
</div>
</body>
</html>