body{
	font: 1em Arial;
	background-image:url(fon.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	
	
}
.Zavlavya{
	background:url(dark_exa.png );
	font-family: Arial;
	font-size: 2em;
	font-style: italic;
	text-shadow: 0 1px 0 red ;
   	color: white;

	width:100%;
	height:50px;
	position:fixed;
	top:0;
	z-index:2;
	
}
.container{
	background:url(dark_exa.png );
	width:850px;
	height:100%;
	margin:100px auto;
	padding:50px;
	position:relative;	
	opacity: 0.9;
  
   	font-family: Arial;
	font-size: 20px;
	font-style: italic;
	text-shadow: 0 10px 20px red ;
   	color: white;
   	width: 750px;
   }
